@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
	box-sizing: border-box;
}

html,
body{
	padding: 0px;
	margin: 0px;
	background-color: #f5f5f5;
	font-family: 'Poppins', sans-serif;
}

img{
	max-width: 100%;
	pointer-events: none;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

/******NAVIGATION********/

header{
	border-bottom: 1px solid #4e4e4e70;;
}

.active{
	color: #ff2929;
}

.logo img{
	width: 80px;
	margin-left: 100px;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 1;
	margin: 32px 0px;
}

nav ul{
	display: flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 0;
}

nav ul a{
	height: 40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 500;
	letter-spacing: 1px;
	color: #ededed;
}

nav ul a:hover{
	color: #ff2929;
	text-decoration: none;
}

.hamburguer-nav{
	display: none;
	cursor: pointer;
	cursor: pointer;
    right: 40px;
    position: absolute;
    top: 45px;
}

.bar{
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px 0;
	transition: all .3s ease;
	background-color: #f6f6f6;
}

.bloco-language {
    text-align: center;
    padding-top: 10px;
    position: absolute;
    left: 0;
    top: -15px;
}

.bloco-language ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    display: inline-block;
}

.bloco-language ul li {
    display: inline-block;
}

.bloco-language ul a{
	padding: 0 2px;
}

.redes-header{
	display: inline-block;
	margin-left: 100px;
}

.redes-header a{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 2px solid #f20000;
  display: inline-block;
  padding: 3px 0px 3px 0px;
  text-align: center;
  font-size: 20px;
  margin-right: 20px;
  color: #f20000;
  text-decoration: none;
}

.redes-header a:hover{
	color: white;
	background-color: #f20000;
}


/******MENU HEADLINE******/
.background-home {
    width: 100%;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(#161616cf,#38383865),url(../img/fundo.jpg);
}

.main-heading {
    width: 50%;
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translate(-16%,-40%);
}

.main-heading h1{
	font-size: 120px;
	font-weight: 400;
	margin: 0px;
	letter-spacing: 3px;
	color: #ededed;
}

.main-heading h2{
	font-size: 60px;
	color: #ededed;
	letter-spacing: 0px;
}

.main-heading p{
	margin-top: 40px;
	color: #f5f5f5;
	font-size: 20px;
}

.main-btn{
	width: 150px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f20000;
	color: white;
	border-radius: 6px;
	transition: 0.3s ease-in-out;
	text-decoration: none;
}

.main-btn:hover{
	text-decoration: none;
	background-color: #1b1b1b;
	color: #ffffff!important;
	border: 1px solid #f0f0f0;
}

.main-btn span{
	width: 10px;
    height: 10px;
    border: 2px solid #f0f0f0;
    border-color: #f0f0f0 transparent transparent #f0f0f0;
    transform: rotate(135deg);
    margin-left: 5px;
}


/******PRODUCTS HOMEPAGE******/

.produtos-home{
	position: relative;
	margin-top: 70px;
	margin-bottom: 90px;
}

.produtos-home h2{
	color: #1F1F1F;
	font-size: 40px;
}

.box{
    position: relative;
    padding: 10px;
    width: 300px;
	height: 150px;
    background-color: #E4E4E4;
    margin: 20px 0px;
    border-radius: 10px;
    overflow: hidden;
    text-align: right;
}

.box:hover {
    background-color: #cf0000;
    box-shadow: 0px 1px 9px rgb(0 0 0 / 50%);
}

.box:hover a{
	color: #E4E4E4;
}

.box:hover h4{
	color: #E4E4E4;
}

.box h4{
	font-size: 22px;
}

.box a{
	color: #575757;
}

.box a:hover{
	color: #000000;
	text-decoration: none;
	font-weight: 400;
}

.box-img img{
    position: relative;
    width: 120px;
    transform: translate(-185px, 10px);
}


/******Parceiros Homepage******/

.parceiros{
	margin-top: 70px;
	margin-bottom: 90px;
}

.parceiros h2{
	color: #1F1F1F;
	font-size: 40px;
}

.parceiros-img img{
	margin: 30px 0px;
	width: 100%;
  height: 120px;
	background-color: #fff;
  padding: 8px;
}

.parceiros-img img:hover {
  border: 1px solid white;
  box-shadow: 0px 0px 4px 4px #d2d2d2;
}

/******EMPRESA******/

.sobre-nos{
	margin-top: 220px;
	margin-bottom: 60px;
	position: relative;
}

.sobre-nos h5{
	margin-left: 0;
}

.bloco-texto p{
	margin-top: 30px;
	text-align: left;
}


section.bloco-empresa {
    background-color: #2c2c2c;
    color: white;
    padding: 50px 0px;
    margin-top: 40px;
}

.caixa-texto {
    width: 100%;
    height: 100%;
    background-color: #bd0000;
    padding: 10px;
    margin-left: -40px;
    margin-top: 20px;
}

.caixa-texto img {
    position: absolute;
    left: 30px;
	padding-top: 15px;
}

.caixa-texto p, h5 {
    text-align: left;
}

.caixa-texto h5 {
    padding-top: 10px;
	margin-left: 90px;
}

.caixa-texto p {
    padding: 10px 10px 10px 0px;
	margin-left: 90px;
}

h2.parceiros-h2 {
    color: #1f1f1f;
}

/******Products Page******/

.products-page{
	margin-top: 220px;
	margin-bottom: 100px;
	position: relative;
}

.list-group {
	width: 300px;
    height: max-content;
    margin-top: 30px;
    border-right: 2px solid #bfbfbf;
    border-bottom: 2px solid #bfbfbf;
    margin-right: 100px;
    box-shadow: 1px 2px 8px rgb(0,0, 0, .4);
}

.list-group a{
	text-decoration: none;
	color: #1f1f1f;
}

.list-group a:hover{
	color: #ff3535;
	font-weight: 400;
}

.list-group-item{
	border: none;
	background-color: transparent;
	font-size: 20px;
}

.list-group-item.active{
    z-index: 2;
    color: #fff;
    background-color: transparent;
    border-color: #007bff00;
}

.list-group-item.active a{
	color: #ff2929;
	font-weight: 500;
}

.panel{
    padding: 10px 10px;
    border: 2px solid;
    border-top: none;
    border-right: none;
    margin: 30px 30px;
}

.panel a {
	color: #1f1f1f;
	text-decoration: none;
	font-weight: 400;
}

.panel a:hover {
	color: #ff2929;
}


/******Gallery Page******/

.gallery{
	margin-top: 220px;
	margin-bottom: 100px;
	position: relative;
}

.gallery img {
    margin-bottom: 30px;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.gallery img:hover{
	box-shadow: 0px 6px 10px #adadad;
}





/******Contacts Page******/

.contact-page{
	margin-top: 220px;
	margin-bottom: 100px;
	position: relative;
}

.bloco-contactos {
	align-items: center;
	display: flex;
}

.bloco-contactos .contact-ul li,.contact-ul p {
	font-size: 20px;
	margin: 10px 0;
	word-wrap: break-word;
  }

.bloco-contactos .contact-ul i{
    font-size: 20px;
    padding: 10px 0;
    margin: 5px 5px;
    color: #ff1100;
    border: 1px solid red;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
}

.contact-detail a{
	color: #0c0c0c;
	font-weight: 300;
	text-decoration: none;
}

.contact-detail a:hover{
	color: #ff0000;
}

.inptFld {
	width: 100%;
	height: 50px;
	border: 0;
	margin: 0 0 10px;
	border-radius: 8px;
	padding: 0 20px;
	font-size: 18px;
	color: #000;
}

.inptFld:focus {
	outline: 1px solid #ff0000;
}

.contFrm textarea {
	height: 75px;
	padding-top: 5px;
}

.inptBtn{
	height: 50px;
	border: 0;
	background: #ff0000;
	font-size: 14px;
	color: #fff;
	margin-top: 5px;
	letter-spacing: 1px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	border-radius: 5px;
}

.inptBtn:hover{
	background-color: #1f1f1f;
	color: #fff;
}


.contact-thanks {
	margin-top: 220px;
	margin-bottom: 100px;
	position: relative;
}

.contact-thanks p{
	margin-top: 30px;
}

/******Política de Privacidade******/

.politica{
	margin-top: 220px;
	margin-bottom: 100px;
	position: relative;
}



/******Termos de uso******/

.termos{
	margin-top: 220px;
	margin-bottom: 100px;
	position: relative;
}

/******Footer******/


.bg-dark {
    background-color: #1a1a1a!important;
}

.text-muted {
    color: #e3e3e3!important;
}

.border-bottom {
    border-bottom: 1px solid #5a5a5a!important;
}

.border-top {
	border-top: 1px solid #5a5a5a!important;
}

footer h6{
	color: #e10000;
}

footer a{
	color: #ffffff;
}

footer a:hover{
	text-decoration: none;
	color: #e10000!important;
}

.contacto-footer h5{
	margin-left: 0!important;
}


/******404 Page******/

.error {
	margin-top: 220px;
	margin-bottom: 100px;
	position: relative;
}

a.error-btn {
	border: none;
	width: 200px;
	height: 50px;
	color: #e3e3e3;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #1a1a1a;
	text-decoration: none;
	border-radius: 40px;
	margin: auto;
}

a.error-btn:hover {
	background: #f20000;
}





/******Media Queries******/


@media screen and (min-width: 300px) and (max-width: 575.98px) {

	.menu,.redes-header,.bloco-language{
		display:none;
	}

	.hamburguer-nav{
		display: block;
	}

	.hamburguer-nav.active .bar:nth-child(2){
		opacity: 0;
	}

	.hamburguer-nav.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}

	.hamburguer-nav.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}

	.menu{
		position: fixed;
		top: 110px;
		left: 0;
		width: 100%;
		background-color: #1a1a1a;
		border-top: 1px solid #515151;
		text-align: center;
		transition: .3s;
	}

	.menu li a{
		margin: 16px 0;
		text-align: center;
    	display: flex;
    	justify-content: center;
	}

	.menu.active{
		display: block;
	}

	.bloco-language.active{
		display: block;
		margin-top: -20px;
	}

	.logo img {
		margin-left: 30px;
	}

	.list-group {
		text-align: center;
		margin-bottom: 30px;
		width: 100%;
		margin-top: -50px;
	}

	.main-heading h1 {
		font-size: 35px;
	}

	.main-heading h2 {
		font-size: 15px;
		margin-right: -60px;
		margin-top: 8px;
	}

	.main-heading p {
		margin-right: -110px;
		font-size: 15px;
	}

	.box {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.parceiros-img img {
		width: 200px;
	}

	.contacto-footer p {
		margin-right: 30px;
	}

	.caixa-texto {
		margin-left: 0px;
	}

}


/*// Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 575.99px) and (max-width: 767.98px) {

	.menu,.redes-header,.bloco-language{
		display:none;
	}

	.hamburguer-nav{
		display: block;
	}

	.hamburguer-nav.active .bar:nth-child(2){
		opacity: 0;
	}

	.hamburguer-nav.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}

	.hamburguer-nav.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}

	.menu{
		position: fixed;
		top: 110px;
		left: 0;
		width: 100%;
		background-color: #1a1a1a;
		border-top: 1px solid #515151;
		text-align: center;
		transition: .3s;
	}

	.menu li a{
		margin: 16px 0;
		text-align: center;
    	display: flex;
    	justify-content: center;
	}

	.menu.active{
		display: block;
	}

	.bloco-language.active{
		display: block;
		margin-top: -20px;
	}

	.main-heading h1{
		font-size: 60px;
	}

	.main-heading h2{
		font-size: 20px;
	}

	.main-heading p {
		margin-right: -150px;
	}

	.parceiros-img img {
		width: 200px;
	}

	.box {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.caixa-texto {
		margin-left: 0px;
	}

	.list-group {
		text-align: center;
		margin-bottom: 30px;
		width: 100%;
		margin-top: -50px;
	}
}


/*// Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) and (max-width: 992px) {

	.menu,.redes-header,.bloco-language{
		display:none;
	}

	.hamburguer-nav{
		display: block;
	}

	.hamburguer-nav.active .bar:nth-child(2){
		opacity: 0;
	}

	.hamburguer-nav.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}

	.hamburguer-nav.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}

	.menu {
		position: fixed;
		top: 110px;
		left: 0;
		width: 100%;
		background-color: #1a1a1a;
		border-top: 1px solid #515151;
		text-align: center;
		transition: .3s;
	}

	.menu li a{
		margin: 16px 0;
		text-align: center;
    display: flex;
    justify-content: center;
	}

	.menu.active{
		display: block;
	}

	.bloco-language.active{
		display: block;
		margin-top: -20px;
	}

	.main-heading h1{
		font-size: 90px;
	}

	.main-heading h2 {
		font-size: 30px;
	}

	.main-heading p {
		font-size: 18px;
		margin-right: -150px;
	}

	.footer-btn .main-btn{
		margin-left: 80px;
	}

	.list-group {
		margin-left: -70px;
	}

}


/*// Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) and (max-width: 1199.98px) {

	.bloco-language{
		margin-left: 20px;
	}

	.redes-header a{
		margin-right: 17px;
	}

}


/*// Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) { }





/*ENGLISH WEBSITE*/

.background-ingles{
	background-image: radial-gradient(#cb0000,#383838 100%);
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.titulo-en{
	color: #eeeeee;
	font-weight: 400;
}

.texto-ingles{
	color: #eeeeee;
	display: block;
}

.texto-ingles h2{
	font-size:80px;
	text-transform: uppercase;
	color: #eeeeee;
}

.texto-ingles p{
	font-size:20px;
	font-weight: 400;
	color: #eeeeee;
}

.btn-en{
	margin-top: 40px;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: #1f1f1f;
    color: #fff;
}

.btn-en:hover{
	background-color: #ec0000;
	color: #fff;
	border: 1px solid #ffffff;
}
